/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* THIS MARKS THE END OF THE CSS RESET! */

/*
  ========================================
  Clearfix
  ========================================
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
}

/*
  ========================================
  Typography
  ========================================
*/

html, html a {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, sans-serif;
	background: url("../images/bg.jpg");
	/* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    min-height: 800px;
}

.centerPseudo {
	display:inline-block;
    text-align:center;
}
.centerPseudo::before {
    content:'';
    display:inline-block;
    height: 100%;
    vertical-align:middle;
    width:0px;
}

.main-content,
.container {
  margin: 0 auto;
  width: auto;
}

.register,
.separator,
.login {
  display: inline-block;
  vertical-align: top;
}

.register,
.login {
  width: 44.5%;
  padding: 15px 0px 0px 0px;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  background: white;
  border-radius: 3px;
  width: 370px;
  height: auto;
}
.login:before 
{
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;

}

.separator {
 
  height: 500px;
  margin: 0 0 0 0;
  border: 1px inset #fff;

}




/*
  ========================================
  Content 
  ========================================
*/

.main-content {
  background-color: #F2F2F2;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  padding: 0px;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0px 0px 25px #000000;
  height: 500px;
  overflow:hidden;
  border: 2px solid #000000;
}
          
            /*
      			  ========================================
      			  Login
      			  ========================================
      			*/

           

			      .login h1 
            {

              margin: -20px 0px 21px 0px;
              line-height: 40px;
              font-size: 15px;
              font-weight: bold;
              color: #555;
              text-align: center;
              text-shadow: 0 1px white;
              background: #f3f3f3;
              border-bottom: 1px solid #cfcfcf;
              border-radius: 3px 3px 0 0;
              background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
              background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
              background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
              background-image: linear-gradient(to bottom, whiteffd, #eef2f5);

            }
            .login p 
            {
              margin: 20px 0 0;

            }
            .login p:first-child 
            {
              margin-top: 0;

            }
            .login input[type=text], .login input[type=password] 
            {
              width: 230px;

            }
            .login p.remember_me
            {
              margin-left: 15px;
              display: block;
              float: left;
              line-height: 31px;
            } .or {float: center; line-height: 5px; margin: 15px 0 15px 0; display: block;}
            .login p.remember_me label
            {
              font-size: 12px;
              color: #777;
              cursor: pointer;
            } .or {font-size: 12px; color: #777;}
            .login p.remember_me input , .or
            {
              position: relative;
              bottom: 1px;
              margin-right: 4px;
              vertical-align: middle;

            }
            .login p.submit 
            {

              text-align: center;

            }
            .login-help 
            {
              margin: 20px 0;
              font-size: 11px;
              color: #000;
              text-align: center;
              text-shadow: 0 1px #2a85a1;

            }
            .login-help a 
            {
              color: #7A8B96;
              text-decoration: none;

            }
            .login-help a:hover 
            {
              text-decoration: underline;

            }
              :-moz-placeholder 
            {
              color: #c9c9c9 !important;
              font-size: 13px;

            }
              ::-webkit-input-placeholder 
            {
              color: #ccc;
              font-size: 13px;

            }
              input 
            {
              font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
              font-size: 14px;

            }
              input[type=text], input[type=password] 
            {
              margin: 0;
              padding: 0 0;
              height: 34px;
              color: #404040;
              background: white;
              border: 1px solid;
              border-color: #c4c4c4 #d1d1d1 #d4d4d4;
              border-radius: 2px;
              outline: 5px solid #eff4f7;
              -moz-outline-radius: 3px;
              -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
              box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);

            }
              input[type=text]:focus, input[type=password]:focus 
            {
              border-color: #7dc9e2;
              outline-color: #dceefc;
              outline-offset: 0;

            }
              input[type=submit] 
            {
              
              line-height: 50px;
              padding: 0 0;
              width: 64%;
              height: 50px;
              font-size: 18px;
              color: #fff;
              text-shadow: 0 1px #e3f1f1;
              border: 1px solid transparent;
              cursor: pointer;
              text-transform: uppercase;
              white-space: nowrap;
              -webkit-box-sizing: content-box;
              -moz-box-sizing: content-box;
              box-sizing: content-box;
              background-image: -webkit-linear-gradient(top, #f65a5b, #f65a5b);
              background-image: -moz-linear-gradient(top, #f65a5b, #f65a5b);
              background-image: -o-linear-gradient(top, #f65a5b, #f65a5b);
              background-image: linear-gradient(to bottom, #f65a5b, #f65a5b);
            }
              input[type=submit]:hover{
                background: #F98C8C;
              }
              input[type=submit]:active 
            {
              background: #DB4D4D;
            }


                    /*
                      ========================================
                      Login - facebook btn
                      ========================================
                    */
                    .btn-auth,
                    .btn-auth:visited {
                        position: relative;
                        display: inline-block;
                        height: 22px;
                        padding: 0 1em;
                        border: 1px solid #999;
                        border-radius: 2px;
                        margin: 0;
                        text-align: center;
                        text-decoration: none;
                        font-size: 14px;
                        line-height: 22px;
                        white-space: nowrap;
                        cursor: pointer;
                        color: #222;
                        background: #fff;
                        -webkit-box-sizing: content-box;
                        -moz-box-sizing: content-box;
                        box-sizing: content-box;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        /* iOS */
                        -webkit-appearance: none; /* 1 */
                        /* IE6/7 hacks */
                        *overflow: visible;  /* 2 */
                        *display: inline; /* 3 */
                        *zoom: 1; /* 3 */
                    }

                    .btn-auth:hover,
                    .btn-auth:focus,
                    .btn-auth:active {
                        color: #222;
                        text-decoration: none;
                    }

                    .btn-auth:before {
                        content: "";
                        float: left;
                        width: 22px;
                        height: 22px;
                        background: url(../images/auth-icons.png) no-repeat 99px 99px;
                    }

                    /**
                     * 36px
                     */

                    .btn-auth.large {
                        height: 36px;
                        line-height: 36px;
                        font-size: 18px;
                    }

                    .btn-auth.large:before {
                        width: 36px;
                        height: 36px;
                    }

                    /*
                     * Remove excess padding and border in FF3+
                     */

                    .btn-auth::-moz-focus-inner {
                        border: 0;
                        padding: 0;
                    }

                    /* Facebook (extends .btn-auth)
                    ========================================================================== */

                    .btn-facebook,
                    .btn-facebook:visited {
                        border-color: #29447e;
                        border-bottom-color: #1a356e;
                        color: #fff;
                        background-color: #5872a7;
                        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
                        background-image: -webkit-linear-gradient(#637bad, #5872a7);
                        background-image: -moz-linear-gradient(#637bad, #5872a7);
                        background-image: -ms-linear-gradient(#637bad, #5872a7);
                        background-image: -o-linear-gradient(#637bad, #5872a7);
                        background-image: linear-gradient(#637bad, #5872a7);
                        -webkit-box-shadow: inset 0 1px 0 #879ac0;
                        box-shadow: inset 0 1px 0 #879ac0;
                    }

                    .btn-facebook:hover,
                    .btn-facebook:focus {
                        color: #fff;
                        background-color: #3b5998;
                    }

                    .btn-facebook:active {
                        color: #fff;
                        background: #4f6aa3;
                        -webkit-box-shadow: inset 0 1px 0 #45619d;
                        box-shadow: inset 0 1px 0 #45619d;
                    }

                    /*
                     * Icon
                     */

                    .btn-facebook:before {
                        border-right: 1px solid #465f94;
                        margin: 0 1em 0 -1em;
                        background-position: 0 0;
                        
                    }

                    .btn-facebook.large:before {
                        background-position: 0 -22px;
                    }

                    /* Twitter
                    ========================================================================== */

                    .btn-twitter,
                    .btn-twitter:visited {
                        border-color: #a6cde6;
                        color: #327695;
                        background: #cfe4f0;
                        /* css3 */
                        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f5f7), to(rgba(255, 255, 255, 0)));
                        background-image: -webkit-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
                        background-image: -moz-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
                        background-image: -ms-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
                        background-image: -o-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
                        background-image: linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
                        -webkit-box-shadow: inset 0 1px 0 #fff;
                        box-shadow: inset 0 1px 0 #fff;
                        margin-bottom: 0px;
                    }

                    .btn-twitter:hover,
                    .btn-twitter:focus,
                    .btn-twitter:active {
                        color: #327695;
                        border-color: #8dc2e4;
                        background-color: #cadde9;
                    }

                    .btn-twitter:active {
                        background: #cadde9;
                        -webkit-box-shadow: inset 0 1px 0 #bbd6e7;
                        box-shadow: inset 0 1px 0 #bbd6e7;
                    }

                    /*
                     * Icon
                     */

                    .btn-twitter:before {
                        margin: 0 0.6em 0 -0.6em;
                        background-position: -22px 0;
                    }

                    .btn-twitter.large:before {
                        background-position: -36px -22px;
                    }