html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {webkit box sizing: border box;
						box-sizing: border-box;}

body {
    font-family: 'Lato', Arial, sans-serif;
	background: url("../images/bg.jpg");
}

a {
	text-decoration: none;
	outline: 0;
}

h1 {
	margin-bottom: 5px;
}

h3 {
	font-size: 1em !important;
	text-transform: uppercase  !important;
	color: #666666  !important;
	font-weight: 300 !important;
}

header {
	text-align: center;text-shadow: 0px -3px 0px #A1C3B3, 0px 0px -3px #AD4158;
}

.clearfix{
	clear: both;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}


#logo {
	display: inline-block; 
	text-shadow: 2px 2px 5px #000000;
}

.textItem 
{
	cursor: pointer;
}

.textItem p {
	font-family: Arial;
	font-size: 17px;
	width: 100px;
}


#mini .sideMenu{
	display: none;
}

#title {
	color: #FFF;
	font-weight: 300;
	font-size: 4.5em;
	text-transform: uppercase;
	margin: 10px;
}

#subtitle {
	color: #18E698;
	font-weight: 300;
	font-size: 1.5em;
	padding: 0;
	margin: 0 0 100px 0;
}

#container {
	display: block;
	height: 200px;
}

#container-body {
	width: 1500px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#infographic {
}


#itemMenu {
	background: white;
	background-color: #F2F2F2;
	padding: 15px 20px 15px 15px;
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 230px;
	border: 2px inset #f2f2f2;
	box-shadow: 0px 0px 25px #000000;
}

#slider-1
{
	width: 100px;
}

.part {
	width: 1200px;
	margin: auto;
	margin-bottom: 20px;
	display: block;
	position: relative;
}

.alignPanel {
	display: block;
	width: 100%;
}

.alignPanel div {
	display: inline-block;
	cursor: pointer;
	width: 20px;
}

.block {
    background: white;
    position: relative;
    display: block;
    margin: auto;
	width: 650px;
	height: 300px;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 2px 0px rgba(15, 163, 163, 0.3);
    -moz-box-shadow: 10px 10px 2px 0px rgba(15, 163, 163, 0.3);
    box-shadow: 10px 10px 2px 0px rgba(15, 163, 163, 0.3);
}

.items {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

.hover-content {
	width: 100%;
	height: 100%;
	margin: 0px;
	position: absolute;
	background: black;
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	display: none;
	overflow: hidden;
}

.block:hover .hover-content {
    display:block;
}

.block:hover .hover-content.selected {
	display: none;
}

.info {
	font-size: 1.2em;
	font-family: Verdana;
	color:  white;
	position: absolute;
	top: 40%;
	left: 40%;
}

.info p {
	position: relative;
}

#menu {
	float: left;
	width: 300px;
	background: white;
}

#mini {
	display: none;
	float: left;
}

#miniMenu {
	height: 300px;
	position: absolute;
}


#miniMenu div{
	width: 40px;
	height: 40px;
	display: block;
	margin: 0;
	margin-left: 100px;
	background: #18E698;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(15, 163, 163, 0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(15, 163, 163, 0.3);
    box-shadow: 5px 5px 5px 0px rgba(15, 163, 163, 0.3);
}

#miniMenu img {
	width: 40px;
	height: 40px;
	margin: 0;
}

#miniMenu div:hover:after{
	border: 1px solid #cccccc;
	position: absolute;
	padding: 3px 8px;
	font-size: 12px;
	z-index: 9999;
	margin-left: -125px;
	margin-top: 5px;
	width: 65px;
	box-shadow: 0px 0px 4px #222;
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#settings {
	margin-top: 5px !important;
	border-top: 5px;
}

#settingsContainer {
	width: 140px;
	height: 0px;
	overflow: hidden;
	background: #18E698;
	display: block;
}

#settingsContainer ul{
	margin: 5px;
}

#settingsContainer ul li{
	margin-top: 5px;
}

#up:hover:after {
	content: 'Move up';
}

#down:hover:after {
	content: 'Move down';
}

#clone:hover:after {
	content: 'Clone';
}

#delete:hover:after {
	content: 'Delete';
}

#add:hover:after {
	content: 'Add';
}

#settings:hover:after {
	content: 'Settings';
}

.draggble {
	width: 0px;
	height: 0px;
}

#drag > img {
	border: 1px solid #000000;
}

#drag p{
	border: 1px solid #000000;
}

#mini .jqcontextmenu {
	display: none;
}

.jqcontextmenu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	background: white;
	border: 2px;
	border-style: solid;
    border-color: gray;
    z-index: 99;
	overflow-x: auto;
	overflow-y: auto;
}

.jqcontextmenu div {
	margin: 0;
	cursor: pointer;
	background: white;
	padding: 3px;
}

.jqcontextmenu div:hover {
	background: #18E698;
}

.jqcontextmenu div p{
	margin: 0;
	padding-left: 5px;
}

.jqcontextmenu img{
	float: left;
}

#mUnlock {
	display: none;
}

.locked {

}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph;
}

.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv;
}

#block-left {
	width: 330px;
	top: -100px;
	left: -340px;
	float:left;
	z-index:100;
	position:absolute;
 	margin-left:0px;
 	background-color:#dfdfdf;
 	padding:20px;
}

#block-left #left-menu {
	display: block;
	position: absolute;
	left: 330px;
	top: 60px;
	background-color: #dfdfdf;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 5px;
}

#block-left #left-menu span {
	width:21px;
	height:3px;
	margin:3px;
	background-color:#000000;
	display: block;
}

#block-left {
	width: 330px;
	top: 0;
	left: -330px;
	float:left;
	z-index:100;
	position:absolute;
	margin-left:0px;
	background-color:#dfdfdf;
	padding:15px;
	box-shadow: 0px 0px 25px #000000;
}

#block-left #left-menu {
	display: block;
	position: absolute;
	left: 330px;
	top: 60px;
	background-color: #dfdfdf;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 5px;
}
#block-left #left-menu span {
	width:21px; 
	height:3px;
	margin:3px;
	background-color:#000000;
	display: block;
}

#block-left.open {
	left: 0;
}

#block-left #types_charts {
	height: 245px;
}

#block-left #types_charts li img {
	width: 100px; 
	height: auto; 
	margin: 4px;
	border: 1px solid transparent;
}

#block-left #types_charts li img.selected {
	border:1px solid #333333;
}

#block-left .scroll-wrapper.chart_editor_block{
	margin:10px 0;
}

#block-left .ui-accordion .ui-accordion-content{
	padding: 15px 10px;
}

ul
{
	list-style-type: none;
}

#infoMenu button, #infoMenu input 
{
    background-color: #18E698;
    letter-spacing: 1px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

#infoMenu button:hover {
    background-color: #1ECD97;
    color: #fff;
}

#infoMenu  button:focus {
    outline: none;
}

#block-left #types_charts li img {
	width:100px; 
	height:auto; 
	margin:4px;
	border:1px solid transparent;
}

#block-left #types_charts li img.selected {
	border:1px solid #333333;
}

#block-left .ui-accordion .ui-accordion-content{
	padding: 15px 10px;
}

#block-left .upload_data .upload_block {
	display:none;
}

#block-left  #types_charts li h4 {
	margin: 0px 0px 10px;
}

.scroll-wrapper > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0px;
    width: 8px;
}

.scroll-wrapper > .scroll-element, .scroll-wrapper > .scroll-element div {
    border: medium none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 10;
}

.scroll-wrapper > .scroll-element .scroll-element_outer {
    overflow: hidden;
}
.scroll-wrapper > .scroll-element div {
    display: block;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
}

.scroll-wrapper > .scroll-element .scroll-element_track {
    background-color: #c2c2c2;
}
.scroll-wrapper > .scroll-element .scroll-element_track, .scroll-wrapper > .scroll-element .scroll-bar {
    opacity: 0.4;
}
.scroll-wrapper > .scroll-element .scroll-element_outer, .scroll-wrapper > .scroll-element .scroll-element_track, .scroll-wrapper > .scroll-element .scroll-bar {
    border-radius: 8px;
}

.scroll-wrapper > .scroll-element .scroll-bar {
    background-color: #5c5c5c;
}

#chart_sets .bar_charts, #chart_sets .pie_charts {display:none;} 

/* Color picker */
a {
  color: #39C;
  font-weight: 400;
}
a:hover {
  color: #FF9900;
}
a.sel {
  color: #000;
  text-decoration: none;
}

.demoPanel {
  margin: 0px;
  display: block;
}

.panel {
	margin: 0px;
}
.panel div{
	display: inline-block;
}

.fontPanel {
  margin: 0px;
}

#itemMenu input {
	border: 0px;
	font-weight: bold;
	width: 50px;
}

#textEditor p {
  padding: 0px;
  margin: 0px;
  font-family: "Verdana";
}


#imageEditor {
	height: 0px;
	visibility: hidden;
}

#textEditor {
	height: 0px;
	visibility: hidden;
	width: 180px;
}

.demoPanel input {
  width: 100px;
}

#loaded_images {
	height:300px;
}

#loaded_images .loaded_images {
	max-width: 75px;
	max-height: 75px;
	border:1px solid transparent;
	margin:2px;
}

#loaded_images .loaded_images.selected {
	border:1px solid #333333;
}

button#add_image {display:none;}

.save_progress {
	position: fixed;
	right: 100px;
	background-color:#dfdfdf;
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px;
	width:215px;
	top:-58px;
	box-shadow: 0px 0px 25px #000000;
}

.save_progress.open {
	top:0;
}

.save_progress p {
	float:left;
	margin-left: 10px;
}

.save_progress .show {
	/*display:none;*/
	width:50px;
	height:45px;
	right:0;
	top:50px;
	position:absolute;
	background-color:#dfdfdf;
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px;
}

.save_progress .hide, .save_progress .hide img, .save_progress .show img {
	width:50px;
}

.save_progress .hide {
	float:right;
}

.save_progress .save_progress_inner {
	position:relative;
}

.save_progress p button {}